body{
   width:70%;
   margin: 0 auto;
}
.bar {
   margin: 5px;
   color: white;
   border: 1px solid green;
   font-size: 18px;
   min-height: 41px;
   flex-grow: 1;
   
}

#d1 {
   display: flex;
   align-items: flex-end;
   justify-content: center;
   text-align: center;
   /*height: 90vh;*/
   margin-top: 95px;
}
button{
   height: 70px;
   background: linen;
   font-size: 1rem;
   cursor: pointer;
   position: absolute;
   font-weight: bold;
}
footer{
   text 
}
